html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

:root {
    --shadow: #ddd;
    --side-padding: 1.5rem;
    --side-padding-tablet: 1.5rem;
    --card-title-font: 1.75rem;
    --main-color: rgb(8, 145, 178);
    --card-tablet-fontsize: 1.5rem;
    --card-tablet-fontsize-outro: 1rem;
    --outro-title-tablet: 2rem;
}

body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

/* .top-gradient {



    display: flex;
    flex-direction: column;
    align-items: center;


} */


.top-photo-container {

    padding: 1.5rem;
    height: auto;
    position: relative;
    background: rgb(8, 145, 178);
    background: linear-gradient(148deg, rgba(8, 145, 178, 1) 60%, rgba(161, 150, 150, 0.25) 60.4%, rgba(255, 255, 255, 1) 63%);

}

.top-photo>img {
    width: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 8px var(--shadow);
}

.name {
    font-size: 4rem;
    font-weight: 500;
    color: white;
    text-shadow: 0px 0px 4px black;
    position: absolute;
    left: calc(.5rem + 32px);
    bottom: 32px;
    line-height: 1.2;

}

.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 var(--side-padding);
    gap: 1rem;
}

.heading {
    font-size: 3rem;
    font-weight: 300;
}

.para {
    font-size: 1.25rem;
    line-height: 1.25;
    color: gray;
    padding-bottom: .25rem;
}

.icons {
    font-size: 2rem;
    display: flex;
    gap: 1.5rem;
}

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 8rem 0;
    /* needed? */
    width: calc(100vw - (var(--side-padding)*2));
    padding: var(--side-padding)
    
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    
    width: calc(100vw - var(--side-padding) * 2);
}

.mywork-header {
    margin: 2rem;
}

.icons>svg {
    width: 2rem;
    height: auto;
}

.card-content {
    height: 175px;
    padding: 1rem;
}

.project-card {
    /* display: grid;
    grid-template-rows: 1.5fr 1fr; */
    box-shadow: 2px 2px 8px var(--shadow);
    max-width: calc(100vw - var(--side-padding * 2));
}





.card-icons>svg {
    width: auto;
    height: var(--card-title-font);
}

.card-photo>img {
    width: 100%;
    object-fit: cover;
}

.img-container {
    width: calc(100vw - 3rem);
}

.card-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .25rem 0;
}

.card-project-name,
.github-card {
    font-size: var(--card-title-font);

}

.card-icons {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: .5rem;
}

.text-content {
    /* padding: .75rem; */
    padding-bottom: 1.5rem;
}

.project-description {
    color: #444;
    font-size: 1.25rem;
}

.bottom-section {
    background-color: var(--main-color);
}

.outro-content {
    /* background-color: var(--main-color); */
    display: flex;
    flex-direction: column;
    gap: .75rem;
    color: #fff;
    padding: 2rem 1.5rem 4rem 1.5rem;
}

.outro-body {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contact-me {
    text-align: center;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.outro-photo {
    width: 100vw;
    height: auto;
}


.outro-photo>img {
    width: 100vw;
    height: auto;
    object-fit: cover;
    display: block;
}

.outro-1 {
    font-size: 1.75rem;
    /* line-height: .95; */
}

.outro-2,
.outro-3,
.outro-email {
    font-size: 1.5rem;
}

/* .outro-email {
    text-align: center;
} */


.outro-icons {
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;

}

.outro-icons>svg {
    height: 3rem;
    width: auto;
}

.phone-icon, .email-icon {
    display: none;
}


.outro-icon-text {
    font-size: 3rem;
}

@media (min-width: 500px) and (max-width: 999px) {

    /* media test */
    

    /* .name {
        font-size: 4rem;
        font-weight: 500;
        color: white;
        text-shadow: 0px 0px 4px black;
        position: absolute;
        left: calc(.5rem + 32px);
        bottom: 32px;
        line-height: 1.2;
    
    } */
    .name {
        font-size: 2.5rem;
        left: auto;
        scale: 1.25;
        transform: translateX(11rem);
        top: 1.75rem;
    }

    /* .top-gradient {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .top-photo-container {
        padding: 1.5rem;
        height: auto;
        position: relative;
        background: rgb(8, 145, 178);
        background: linear-gradient(148deg, rgba(8, 145, 178, 1) 60%, rgba(161, 150, 150, 0.25) 60.4%, rgba(255, 255, 255, 1) 63%);
    }
        
    .top-photo>img {
        width: 100%;
        object-fit: cover;
        box-shadow: 0px 0px 8px var(--shadow);
    } */

    /* .section-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 var(--side-padding);
        gap: 1rem;
    } */

    .section-1 > .about-header {
        display: flex;
        justify-content: center;
        font-size: 1.75rem;
        line-height: 1.5;
    }

    .section-1 > .para {
        font-size: 1.5rem;
        line-height: 1.1;
    }
    .section-1 {
        background-color: #fff;
        box-shadow: 2px 2px 2px var(--shadow);
        text-align: left;
        display: block;
        width: calc(100vw - (var(--side-padding-tablet * 6)));
        padding: 3rem 1rem 3rem 1rem;
        margin: 4rem 2.5rem 0 2.5rem;
        border: none;
        box-shadow: 2px 2px 6px var(--shadow);
    }
    .top-photo-container {
        background: none;
        padding: 0 .5rem .25rem 0;
        float: left;
        
    }
    .top-photo > img {
        /* width: 45%;
        height: 0;
        padding-bottom: 45%;
        display: block; */
        /* float: left; */
        width: 250px;
        height: 250px;
        object-fit: cover;
        
    }
   

    /* .top-photo {
        
        float: left;
        
    } */

   /* body {
    display: flex;
    flex-direction: column;
    align-items: center;
   } */

    .top-about-container {
        display: block;
        padding: var(--side-padding-tablet) var(--side-padding-tablet) 3rem var(--side-padding-tablet);
        width: calc(100vw - (var(--side-padding-tablet * 2))); 
        background: var(--main-color);
        background: linear-gradient(165deg, var(--main-color) 60%, rgba(161, 150, 150, 0.25) 60.4%, rgba(255, 255, 255, 1) 63%);
    }
    

    .section-2 {
        margin-top: 0;
        width: calc(100vw - (var(--side-padding-tablet)*4));
        padding: calc(var(--side-padding-tablet) * 2);
        padding-top: 0;
        align-items: start;

    }

    .project-card {
        
        width: clamp(180px, calc((100vw - (var(--side-padding-tablet)*4) - 3rem) / 2), 375px);
    }

    .card-content {
        height: 100px;
    }

    .card-container {
        justify-content: space-between;
        gap: 3rem;
        width: calc(100vw - var(--side-padding-tablet)*4)
    }

    .card-title-container {
        padding-bottom: .5rem;
    }

    .img-container {
        width: 100%;
    }

    .heading {
        font-size: 2rem;
    }

    .mywork-header {
        padding: .5rem 0;
        margin: 0;
    }


    .project-description {
        font-size: .75rem;
    }

    .card-project-name {
        font-size: 1rem;
    }

    .card-icons {
        padding: 0;
        justify-self: flex-end;
    }
    .card-icons > svg, .card-icons > i  {
        font-size: var(--card-tablet-fontsize);
        height: var(--card-tablet-fontsize);
    }

    .bottom-section {
        
        width: calc(100vw - ((var(--side-padding-tablet))*2));
        padding: 2.5rem var(--side-padding-tablet) 3rem var(--side-padding-tablet);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .contact-me {
        
        text-align: start;
        font-size: var(--outro-title-tablet);
    }

    .outro-content {
        padding: 4rem 5rem 4rem 1rem;
        
    }

    .outro-1, .outro-2, .outro-3, .outro-email {
        font-size: var(--card-tablet-fontsize-outro);
    }

    .outro-content, .outro-email {
        justify-content: center;

        text-align: start;
    }

    .outro-body {
        gap: 1rem;
    }

    .outro-photo {
        width: calc(100vw/3);
    }

    .outro-email { 
        padding: .5rem 0;
    }

    .outro-photo>img {
        width: calc(100vw/3);
        height: auto;
        object-fit: cover;
        display: block;
        justify-self: flex-end;
    }

    .outro-icons {
        justify-content: flex-start;
        padding: 0;
        
    }

    

    .outro-icons>svg, .outro-icons > i {
        height: var(--outro-title-tablet);
        font-size: var(--outro-title-tablet);
        
    }

    .phone-icon, .email-icon {
        display: block;
        width: var(--card-tablet-fontsize-outro);
        height: auto;
    }

    .phone, .email {
        display: flex;
        gap: .5rem;
    }

        .section-1 > .icons {
            display: none;
        }
   





}