html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas,details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {
    --shadow: #999;
    --side-padding: 1.5rem;
    --card-title-font: 1.75rem;
}

body {
    min-height: 100vh;
    width: 100vw;
}

.top-gradient {
    
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}


.top-photo-container {
    
    padding: 1.5rem;
    height: auto;
    position: relative;
    background: rgb(8,145,178);    
    background: linear-gradient(148deg, rgba(8,145,178,1) 60%, rgba(161, 150, 150, 0.25) 60%, rgba(255,255,255,1) 63%);
    
}

.top-photo > img {
    width: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 8px var(--shadow);
}

.name {
    font-size: 4rem;
    font-weight: 500;
    color: white;
    text-shadow: 0px 0px 10px black;
    position: absolute;
    left: calc(.5rem + 32px);
    bottom: 32px;
    line-height: 1.2;
    
}

.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 var(--side-padding);
    gap: 1rem;
}

.heading {
    font-size: 3rem;
    font-weight: 300;
}

.para {
    font-size: 1.25rem;
    line-height: 1.25;
    color: gray;
    padding-bottom: .25rem;
}

.icons {
    font-size: 2rem;
    display: flex;
    gap: 1.5rem;
}

.section-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2rem;
    gap: 3rem;
    padding: var(--side-padding);
    width: calc(100vw - 3rem);
}

.mywork-header {
    margin: 2rem;
}
.icons > svg {
    width: 2rem;
    height: auto;
}

.card-content {
    padding: 1rem;
}
.project-card {
    /* display: grid;
    grid-template-rows: 1.5fr 1fr; */
    box-shadow: 2px 2px 8px var(--shadow);
}

.card-icons > svg {
    width: rem;
    height: var(--card-title-font);
}

.card-photo > img {
    width: 100%;
    object-fit: cover;
}

.img-container {
    width: calc(100vw - 3rem);
}

.card-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.card-project-name, .github-card {
    font-size: var(--card-title-font);
    
}

.card-icons {
    display: flex;
    align-items: center;
    gap: 8px;
}

.text-content {
    padding: .75rem;
    padding-bottom: 1.5rem;
}

.project-description {
    color: #444;
    font-size: 1.25rem;
}

